body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.first-half{
background-image: url(images/top-banner.png);
background-repeat: no-repeat;
}
.link-button a{
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(blue, cyan);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
h1{
    font-size: 50px;
}
.Orange-Color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
width: 50%;
padding-left: 5%;
padding-right: 6%;
text-align: justify;
}
.half-width img{
    width: 80%;
}
.Second-Half{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right ;
    
}